.landing-management-main {
  position: relative;
  margin-top: 10px;
  .group-navigate-btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;
    .btn-decor {
      border: 1px solid gainsboro;
      outline: none;
      padding: 8px 12px;
    }
    .btn-link {
      color: rgb(255, 255, 255);
      background: #ff4d4f;
    }
  }
}
