.chart-scroll-container {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 8px;
}

.chart-inner {
  min-width: 800px; // hoặc tính động theo số platform
  height: 350px; // thêm height cố định để Recharts vẽ được
}
