.wrapper{
    display: flex;
    margin-bottom: 20px;
}
.chart-scroll-container {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 8px;
}

.chart-inner {
  height: 300px;
  min-width: 600px; // mặc định nếu ít tháng
}
